html, body{
	font-family: 'Raleway', sans-serif;
	color: black;
}

.nav li a{
	color: gray;
}

.nav li a:hover{
	color: black;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.registration-form{
	margin-bottom: 20px;
	padding: 40px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
}

.reg-form{
	padding: 25px 20px;
	font-size: 20px;
}

#submit-reg{
	padding: 10px;
	font-size: 25px
}


/***********COVER************/
#search-dropdown{
	width: 500px;
	border: solid 1px rgb(223, 223, 223);
	padding: 5px;
	font-size: 16px;
}

.search{
	font-size: 15px;
	padding: 4px 40px;
	border: solid 1px rgb(204, 204, 204);
	border-radius: 3px;
}

.adv-search{
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,0.1);
	color: #444!important;
	font-size: 11px;
	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background: linear-gradient(top,#f5f5f5,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1);
	border-radius: 3px;
}

a.adv-search:hover{
	border: 1px solid #C8C8C8;
	box-shadow: 0px 1px 0px rgb(230, 230, 230);
}

.adv-panel{
	width: 80%;
}

.search-row{
	padding-bottom: 35px;
}

.search-select{
	width: 100%;
	padding: 5px;
	border: solid 1px rgb(223, 223, 223);
}

.results{
	text-align: left;
}

.masthead.results{
	border-bottom: solid 1px rgb(234, 234, 234);
	box-shadow: 0px 2px 1px rgb(246, 246, 246);
	background: white;
	position: fixed;
	z-index: 1;
}

.results-search{
	margin-left: 30px;
	margin-top: 5px;
}